html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  scrollbar-color: #8e8e8e #fff;
  scrollbar-width: thin;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: 'Poppins',sans-serif;
  position: relative;
}

nav {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,.09);
  display: flex;
  font-size: 1.7rem;
  height: auto;
  justify-content: space-between;
  left: 0;
  padding: 25px 40px 25px 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200
}

/* Hide the navigation bar on mobile devices */
@media screen and (max-width: 768px) { 
nav {
  display: none; 
}
}

/* Show the navigation bar on larger screens */
@media screen and (min-width: 769px) {
.navbar {
  display: block; 
}
}

.logo {
  color: #2d2e32;
  cursor: pointer;
}

nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

nav ul a {
  color: #2d2e32;
  font-weight: 600;
  text-decoration: none;
  transition: all .23s;
}

  .hero {
      background-color: #f9f9f9;
      display: flex;
      flex-direction: column;
      height: auto;
      min-height: 100vh;
      position: relative;
      width: 100%;
  }
  
  .container {
      margin: 0 auto;
      max-width: 107rem;
      padding: 0 4rem;
  }

@media (max-width: 460px) {
  .container {
    padding: 0 1.7rem;
  }
}

.content {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 5rem 0;
      position: relative;
  }

  .hero-main {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      position: relative;
      width: 100%;
      max-width: 1000px;
  }

.hero-text {
      display: flex;
      flex-direction: column;
       max-width: 100%;
       padding: 0 1rem;
       position: relative;
  }

  @media screen and (min-width: 768px) {
  .hero-text {
       max-width: 50rem;
      
   }
 }

.hero-text h1 {
  color: #2d2e32;
  font-size: 5.5rem;
   margin-bottom: 2rem;
  margin-top: 2rem;
   line-height: 1.2;
  text-align: left; /* Align left by default */
 }

 @media (max-width: 768px) {
   .hero-text h1 {
      font-size: 4rem;
     text-align: center; /* Center on small screens */
    }
}

.hero-text p {
  color: #555;
  font-family: Mulish,sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.6;
}

.hero-text span {
  cursor: pointer;
  display: flex;
  gap: 1.3rem;
  margin: 2.5rem 0;
}

.hero-text span a {
  transition: all .2s;
  color: #2d2e32;
  font-size: 3rem;
}

.hero-text span a:hover {
  color: #007bff;
}

 .hero-img {
      background-image: url('../images/sohaibimg.jpg');
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      border: 3px solid #2d2e32;
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
      height: 35rem;
      position: relative;
      transition: all 1s ease-in-out;
      width: 35rem;
      margin-bottom: 2rem;
  }

@media (max-width: 768px) {
  .hero-img {
    width: 25rem;
      height: 25rem;
    margin-top: 3rem;
     order: -1; /* Move image after text on mobile */
  }
 }
  
   @media (min-width: 769px) { /*For larger screens */
      .hero-img {
          order: 2; /* Keep image after text */
      }
  }

.skills{
    align-items: center;
    bottom: auto;
    color: #767676;
    display: flex;
    font-size: 1.7rem;
    left: 0;
    position: relative;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 4rem;
    padding: 1rem;
    width: 100%; /* Add full width */
    justify-content: center; /* Center content */
}
  
.skills p {
  border-right: 2px solid rgba(45,46,50,.5);
  color: #2d2e32;
  font-family: Mulish,sans-serif;
  font-weight: 750;
  margin-right: 4rem;
  padding-right: 2rem;
}

.skills ul{
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  list-style: none;
}

.skills ul li{
  cursor: pointer;
}

.skills img{
   width: 5rem;
  height: 5rem;
}

.certifications {
  align-items: center;
  bottom: auto; /* Modified this from bottom: 0 */
    color: #767676;
  display: flex;
  font-size: 1.7rem;
    left: 0;
    position: relative;
  flex-wrap: wrap;
  margin-top: 2rem; /* Adjust margin top */
  margin-bottom: 2rem; /* Add bottom margin */
  padding: 1rem;
    width: 100%;
     justify-content: center;
}

.certifications p {
  border-right: 2px solid rgba(45,46,50,.5);
  color: #2d2e32;
  font-family: Mulish,sans-serif;
  font-weight: 750;
  margin-right: 3rem;
  padding-right: 2rem;
}

.certifications ul {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  list-style: none;
} 
  .certifications img{
   width: 5rem;
  height: 5rem;
}

.about {
  background-color: #fff;
  padding: 10rem 0;
}

.about-content {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

@media (max-width: 768px) {
    .about-content{
      grid-template-columns: 1fr; /* Stack on small screens */
  }
}

.img-side {
  position: relative;
}

.work-emoji {
  bottom: 35px;
  position: absolute;
  right: 98px;
  width: 6rem;
  z-index: 10;
}

.img-side__main-img {
  border-radius: 1.7rem;
  height: 35rem;
  width: 41rem;
}

.img-side span {
  background-color: #fff;
  border-radius: 50%;
  bottom: -33px;
  height: 19rem;
  position: absolute;
  right: 33px;
  width: 19rem;
}

.img-side span img {
  animation: rotate 9s linear infinite;
  width: 19rem;
}

  @media (max-width: 768px) {
   .img-side__main-img {
    height: 30rem;
    width: 35rem;
  }
      
   .work-emoji{
      right: 20px;
   }
       .img-side span{
      display: none;
   }
 }
  

.text-side {
    padding: 1rem;
  padding-right: 1.5rem;
  margin-top: 2rem;
}

.text-side h3 {
  color: #147efb;
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.text-side h4 {
  color: #2d2e32;
  font-family: Poppins,sans-serif;
  font-size: 2.5rem;
  line-height: 1.4;
  margin-bottom: 2rem;
}

  @media (max-width: 768px) {
   .text-side h4 {
       text-align: center;
  }
 }

.text-side p {
  color: #767676;
  font-family: Mulish,sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5;
}


.project {
  background-color: #f9f9f9;
  padding: 5rem 2rem; /* Reduce padding for smaller screens */
}

@media screen and (max-width: 768px) { 
  .container {
    padding: 0 2rem; /* Reduce padding for smaller screens */
  }
}

@media screen and (max-width: 480px) { 
  .container {
    padding: 0 1rem;
  }
}

.new-projects {
  color: #2d2e32;;
  font-size: 2.6rem;
  text-align: center;
}

.img-project {
  display: flex;
  justify-content: center; 
}

.img-project img {
  border-radius: 1.7rem;
  max-width: 50%;
  height: auto; 
  margin: 0 auto;
  margin-top: 2rem;
  object-fit: cover;
}

 .articles {
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-color: #fff;
  padding: 2rem; 
}

.article-title h2 {
  color: #2d2e32;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem; 
  text-transform: uppercase;
}

.article-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

@media screen and (max-width: 768px) { 
  .article-list {
    grid-template-columns: 1fr; 
  }
}

.article-list li {
  font-family: Mulish, sans-serif;
  font-size: 16px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  list-style-type: none;
  margin-top: 2rem;
}

.article-list a {
  color: #007bff; 
  text-decoration: none;
  line-height: 2rem;  
}

.article-list a:hover {
  color: #0056b3; 
}

.article-list p{
  font-family: sans-serif;
  font-weight: 600;
} 

.contact {
  background-color:  #f9f9f9;
  padding: 11rem 0;
}

@media (max-width: 1020px) {
  .contact {
    padding: 8rem 0;
  }
}

.contact__content {
  display: flex;
  flex-direction: column;
}

@media (max-width: 750px) {
  .contact__title {
    text-align: center;
  }
}

.contact__title p {
  color: #147efb;
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.contact__title h3 {
  color: #2d2e32;
  font-size: 2.5rem;
}

@media (max-width: 750px) {
  .contact__icons {
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    text-align: center;
  }
}

.contact__icons {
  display: flex;
  flex-wrap: wrap;
  gap: 8rem;
  margin-top: 6rem;
}

@media (max-width: 750px) {
  .contact__icon-box {
    flex-direction: column;
  }
}

.contact__icon-box {
  align-items: center;
  display: flex;
  gap: 1.5rem;
}

.contact__icon-box span {
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  color: #147efb;
  display: flex;
  height: 5rem;
  justify-content: center;
  width: 5rem;
  cursor: pointer;
}

.contact__info {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.contact__info h3 {
  color: #2d2e32;
  font-size: 1.7rem;
}

.contact__info a, .contact__info p {
  color: #767676;
  cursor: pointer;
  font-size: 1.7rem;
  text-decoration: none;
}

.contact__info a:hover{
  color: #007bff;
  cursor: pointer;
} 

.contact__icons p:hover{ 
  color: #007bff;
  cursor: pointer;
} 

@media (max-width: 750px) {
  .contact__icon-box {
    flex-direction: column;
  }
}

  footer {
    background-color: #2d2e32;
    padding: 5rem 0;
    width: 100%;
  }
  
  .container {
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 4rem;
  }
  
  @media screen and (max-width: 768px) { 
    .container {
      padding: 0 2rem; 
    }
  }
  
  @media screen and (max-width: 460px) { 
    .container {
      padding: 0 1.7rem; 
    }
  }
  
  .footerb {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  
  footer h3 {
    color: #fff;
    font-size: 1.7rem;
    flex: 1; 
  }
  
  .footerb__socials {
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .footerb__socials a {
    color: #fff;
    font-size: 2.3rem;
  }
  
  @media screen and (max-width: 768px) {
    .footerb {
      flex-direction: column; 
      text-align: center; 
      gap: 2rem; 
    }
  }